# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
*.bak
node_modules
nbproject
admin/build
src-widgets/build
src-widgets/node_modules

yarn.error
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.prettierr.js
.prettierrignore
toBeDeleted.create-adapter.json

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt